
<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <i><b>Tematica:</b></i> <%= quiz.tema %> <p>
        <i><b>Pregunta:</b></i> <%= quiz.pregunta %> <p><br>
          <input type="text" name="respuesta" placeholder="Respuesta"/>
          <input type="submit" value="Enviar">
</form>


<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>





