
<!--vista stats -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"><title> Preguntas </title>

</head>

    <body>
        <div id="stat">

            <h3><b><i>Estadísticas del juego:</i></b></h3><br>

            <p>Número de preguntas: <%= quizes %></p>

            <p>Comentarios publicados y NO publicados: <%= comments %></p>

            <p>Promedio de comentarios por pregunta: <%= averageCommentPerQ %></p>

            <p>Número de preguntas sin comentarios: <%= noCommentedQuizes %></p>

            <p>Número de preguntas con comentarios: <%= commentedQuizes %></p>


        </div>

    </body>
</html>




